# PowerShell
*.log
logs/*
!logs/.gitkeep
*.psd1
*.psm1
*.ps1xml

# User Configuration (Don't commit secrets!)
src/WiFi/NetworkConfig.ps1
src/Ethernet/EthernetConfig.ps1

# Editor
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
